<!--<div appunwraptag="" class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title">
                Wallet Dashboard
            </h3>
        </div>
    </div>
</div>-->

<div class="m-content">
    <div class="row">
        <div class="col-sm-4" *ngIf="walletLoaded">

            <app-balance-table [_balances]="wallets[0].balances"></app-balance-table>
        </div>
        <div class="col-sm-8">
            <div class="m-portlet m-portlet--head-sm m-portlet--tabs">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Open Orders
                            </h3>
                            <div>
                            <span class="m-badge m-badge--warning m-badge--wide m-badge--rounded">
								in process (15)
							</span>
                                <span class="m-badge m-badge--metal m-badge--wide m-badge--rounded">
								pending (10)
							</span>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--right m-tabs-line-danger"
                            role="tablist">
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link active" data-toggle="tab"
                                   href="#m_portlet_tab_1_1"
                                   role="tab">
                                    Buy
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_portlet_tab_1_2"
                                   role="tab">
                                    Sell
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="m_portlet_tab_1_1">
                            <table id="buy-table">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Date</th>
                                    <th>Currency Pair</th>
                                    <th>Original Amnt</th>
                                    <th>Cumulative Amnt</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let i of ['1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1']">
                                    <td>Jhon</td>
                                    <td>Stone</td>
                                    <td>Stone</td>
                                    <td>Stone</td>
                                    <td>Stone</td>
                                    <td>@jhon</td>
                                    <td>@jhon</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="m_portlet_tab_1_2">
                            Sell
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-portlet m-portlet--head-sm m-portlet--tabs">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Open Orders </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--right m-tabs-line-danger"
                            role="tablist">
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link active" data-toggle="tab"
                                   href="#m_portlet_tab_1_1_2"
                                   role="tab">
                                    Buy
                                </a>
                            </li>
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_portlet_tab_1_2_2"
                                   role="tab">
                                    Sell
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="m_portlet_tab_1_1_2">
                            <table id="buy-table2">
                                <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Username</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let i of ['1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1']">
                                    <td>Jhon</td>
                                    <td>Stone</td>
                                    <td>@jhon</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="m_portlet_tab_1_2_2">
                            Sell
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>